.postContainer {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    /* width: 800px; */
    
}

.post {
    border: 4px solid rgb(215, 4, 102);
    border-radius: 10px;
    width: 60%;
    background-color: rgb(238, 173, 203);
}

.info  {
    font-size: small;
    /* padding-left: 0px; */
    margin: 5px;
    text-align: right;
}

.postMessage {
    text-align: center;
    width: 98%;
    margin-left: 5px;
    margin-right: 20px;
}
.translation {
    font-style: italic;
}

.translateButton {
    font-size: 18px;
    margin: 10px;
}