.writePost {
    width: 500px;
    height: 100px;
    text-align: left;
    padding: 8px;
    vertical-align:top;
    resize: none; 
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftElement {
    flex: 0;
    align-self: center;
    width: 50px;
}

.centerElement {
    flex: 1;
    text-align: center;
    align-self: center;
    margin-right: 140px;
    width: 200px;
    margin-left: 100px;
}