.popupBanner {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    bottom: 20px;
    left: 20px;
  }
  
.popupBanner button {
    background-color: #a94442;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
}
  
.popupText {
  font-size: xx-large;
}